#root {
  background-color: rgb(225, 215, 215);
  width: 100%;
  height: 100vh;
  color: black;
}

.game-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.tile {
  border: black solid 1px;
  background-color: white;
  border-radius: 5px;
  height: 60px;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 35px;
}